<div
  data-duration="<%= section.duration %>"
  data-position="<%= section.position %>"
  data-name="<%= section.name %>"
  data-dropdown-toggle="section-options-<%= section.id %>"
  class="js-section <%= colors[section.color] %>
    border-r-2 border-black last:border-0 flex flex-col items-center
    justify-center"
  id="section-<%= section.id %>"
>
  <p class="text-center"><%= section.name %></p>
  <p><%= section.duration %>s</p>
</div>