<div class="bg-white w-full max-w-lg px-11 py-5 h-fit border-4 border-black rounded-xl shadow-solid flex justify-center flex-col">
  <form method="POST" action="<%= action %>" class="flex flex-col">
    <label for="name-input" class="text-lg">Name:</label>
    <input type="text" name="name" id="name-input" value="<%= timer ? timer.name : "" %>"
      class="border-2 border-black rounded-lg p-2 mb-5" required>

    <label for="repeat">Repetitions</label>
    <input
      class="border-2 border-black rounded-lg p-2 mb-5"
      type="number"
      name="repeat"
      id="repeat"
      min="1"
      value="<%= timer ? timer.repeat : 1 %>">

    <label for="start-text" class="text-lg">Start Announcement</label>
    <input
      type="text"
      name="startText"
      id="start-text"
      class="border-2 border-black rounded-lg p-2 mb-5"
      value="<%= timer ? timer.startText : "" %>">

    <label for="end-text" class="text-lg">End Announcement</label>
    <input
      type="text"
      name="endText"
      id="end-text"
      class="border-2 border-black rounded-lg p-2 mb-5"
      value="<%= timer ? timer.endText : "" %>">

    <button
      type="submit"
      class="font-bold text-lg bg-purple-dark px-5 py-2 rounded-xl border-2
        border-black text-white shadow-solid">
      <%= submit || "Submit" %>
    </button>
  </form>
</div>