<div class="flex justify-between items-center w-3/6 p-4 mt-5 border-neutral-700 border-b-2">
  <div>
    <p class="text-2xl"><%= timer.name%></p>
    <% if (timer.Tags) { %>
      <div class="flex">
        <div class="flex ml-5">
          <% timer.Tags.forEach(tag => { %>
            <div class="<%= colors[tag.color] %> px-4 mr-3 border-black border-2 rounded-full text-sm">
              <a href="/tags/<%= tag.id %>">
                <%= tag.name %>
              </a>
            </div>
          <% }) %>
        </div>
      </div>
    <% } %>
  </div>

  <div>
    <a href="/timers/<%= timer.id %> " class="border-2 border-black rounded-lg px-3 py-2 shadow-solid-half hover:shadow-none text-white hover:text-black bg-green-dark hover:bg-green-mid">Start</a>
  </div>
</div>