<div class="flex flex-col items-center">
  <%- include('../partials/messages') %>
  <div class="container p-1 sm:p-2 md:p-10">
    <!-- Timer header -->
    <div class="flex flex-col md:flex-row items-center justify-between border-slate-700 border-b-2
    py-3">
      <div class="w-full sm:w-1/2">
        <h1 class="text-2xl text-center md:text-left">
          <%= timer.name %>
        </h1>

        <!-- Tags row -->
        <%- include("../tags/_timer_tags_row", {timer, unusedTags}) %> 
      </div>

      <!-- Edit/Delete buttons -->
      <div class="flex items-center flex-wrap justify-center">
        <div class="mr-5 mb-2">
          <% const isFavorite = timer.Favorites.filter((fav)=> fav.UserId === user.id).length > 0 %>
          <%- include("_favorite", {isFavorite}) %>
        </div>
        <a href="/timers/<%= timer.id %>/edit"
          class="text-lg bg-green-dark hover:bg-green-mid 
            hover:text-black px-4 py-1 rounded-xl border-2 border-black
            text-white shadow-solid-half hover:shadow-none mr-5 mb-2">Edit</a>
          <form action="/timers/<%= timer.id %>?_method=DELETE" method="POST">
            <button type="submit" class="text-lg bg-red-dark
            hover:bg-red-mid px-4 py-1 rounded-xl border-2 border-black
            text-white shadow-solid-half hover:shadow-none mb-2">Delete</button>
          </form>
      </div>
    </div>

    <%- include("_displayControls") %>
  </div>
</div>

<script type="module" src="/src/js/timer.js"></script>

