<div class="flex flex-col items-center">
  <%- include('../partials/messages') %>
  <div class="container p-1 sm:p-2 md:p-10">
    <!-- Timer header -->
    <div class="flex flex-col md:flex-row items-center justify-between border-slate-700 border-b-2
    py-3">
      <div class="w-full sm:w-1/2">
        <h1 class="text-2xl text-center md:text-left">
          <%= timer.name %>
        </h1>

        <!-- Tags row -->
        <%- include("../tags/_timer_tags_row_public", {timer}) %> 

      </div>
      <div><%- include("_favorite", {isFavorite, timer}) %></div>
    </div>

    <%- include("_displayControls") %>
  </div>
</div>

<script type="module" src="/src/js/timer.js"></script>

