<div class="flex flex-col items-center">
  <%- include('../partials/messages') %>
  <div class="container p-10">
    <div class="flex items-center justify-between border-black border-b-2
    py-3">
      <h1 class="text-2xl">
        <%= timer.name %>
      </h1>
      <div class="flex">
        <a href="/timers/<%= timer.id %>/edit"
          class="text-lg bg-green-dark hover:bg-green-mid 
            hover:text-black px-4 py-1 rounded-xl border-2 border-black
            text-white shadow-solid-half hover:shadow-none mr-5">Edit</a>
          <form action="/timers/<%= timer.id %>?_method=DELETE" method="POST">
            <button type="submit" class="text-lg bg-red-dark
            hover:bg-red-mid px-4 py-1 rounded-xl border-2 border-black
            text-white shadow-solid-half hover:shadow-none">Delete</button>
          </form>
      </div>
    </div>

    <div id="js-timer"
      data-duration="<%= timer.duration %>"
      data-start-announcement="<%= timer.startText %>"
      data-end-announcement="<%= timer.endText %>"
      class="flex flex-col justify-center items-center p-5">

      <!-- Timeline -->
      <div id="js-timeline" class="h-20 w-full mb-10 relative">
        <div
        class="bg-neutral-300 h-full w-full rounded-xl"
        id="js-timeline-bg"></div>
        <div
        class="w-1 h-full bg-red-dark absolute top-0 left-1"
        id="js-timeline-indicator"></div>
      </div>
      
      <!-- Timer Indicators -->

      <div class="flex flex-col items-center mb-8">
        <p class="text-5xl"><span id="js-current-time">00:00</span></p>
        <p><span id="js-remaining-time">00:00</span></p>
      </div>

      <!-- CONTROLS -->
      <div
        class="border-black border-2 rounded-xl p-8 bg-purple-light">
        
        <!-- repetitions -->
        <div class="flex flex-col items-center mb-5">
          <p class=" text-white">Repetitions</p>
          <div class="flex justify-evenly items-center">
            <button
              id="decrementRepetitions"
              class="rounded-full w-5 h-5 text-xl text-white">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </button>
            <span
              id="repeat"
              class="text-xl mx-3 text-white"><%= timer.repeat %></span>
            <button
              id="incrementRepetitions"
              class="rounded-full w-5 h-5 text-xl text-white">
                <ion-icon name="add-circle-outline"></ion-icon>
            </button>
          </div>
        </div>

        <!-- Play / Pause button -->
        <div class="flex justify-center mb-5">
          <button
            class="bg-green-mid hover:bg-green-light hover:shadow-solid-half
              rounded-full p-2 border-black border-4 shadow-solid"
            id="js-start-timer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 159 159"
              class="w-20">
              <path fill="#fff" d="m128.57 79.12-73.03 42.17V36.95l73.03 42.17Z" />
              <path fill="none" d="M0 0h159v159H0z" />
            </svg>
          </button>
          <button
            class="bg-yellow-dark hover:bg-yellow-light
              hover:shadow-solid-half rounded-full p-2 border-black border-4
              shadow-solid hidden"
            id="js-pause-timer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 157.76 157.76"
              class="w-20">
              <path
                fill="#fff"
                d="M50.73 40.7h19.02v77.6H50.73V40.7Zm37.28 0h19.02v77.6H88.01V40.7Z" />
              <path fill="none" d="M0 0h157.76v157.76H0z" />
            </svg>
          </button>
        </div>

        <!-- Reset button -->
        <div class="flex justify-center mb-5">
          <button
            class="bg-white rounded-full w-8 h-8 flex justify-center
              items-center border-2 border-black text-xl"
            id="reset-btn"
            type="button"
            data-tooltip-target="tooltip-reset"
            data-tooltip-placement="bottom">
            <ion-icon name="refresh-outline"></ion-icon>
          </button>
          <div
            id="tooltip-reset"
            role="tooltip"
            class="inline-block absolute invisible z-10 py-2 px-3 text-sm
              font-medium text-white bg-gray-900 rounded-lg shadow-sm
              opacity-0 transition-opacity duration-300 tooltip
              dark:bg-gray-700"
            >
              Reset Timer
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>

        <!-- Announcements toggles -->
        <div class="flex flex-col items center">
          <p>Enable Announcements</p>
          <div class="flex justify-between">
            <label for="playStartAnnouncement" class="inline-flex relative items-center mb-5 cursor-pointer">
              <input type="checkbox" value="" id="playStartAnnouncement" class="sr-only peer">
              <div
                class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Start</span>
            </label>
            <label for="playEndAnnouncement" class="inline-flex relative items-center mb-5 cursor-pointer">
              <input type="checkbox" value="" id="playEndAnnouncement" class="sr-only peer">
              <div
                class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">End</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/src/js/timer.js"></script>

