<div class="flex flex-col items-center">
  <%- include('../partials/messages') %>
  <div class="container p-10">
    <!-- Header -->
    <div class="flex items-center justify-between border-black border-b-2 py-3 mb-2">
      <h1 class="text-2xl"><%= user.username %>'s Profile </h1>
      <div class="flex">
        
        <a href="/users/<%= user.id %>/edit"
          class="text-lg bg-purple-dark hover:bg-purple-mid px-4 py-1 rounded-xl border-4 border-black text-white shadow-solid hover:shadow-solid-half mr-5">
          Account Settings
        </a>
        <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
          <button type="submit"
            class="text-lg bg-red-dark hover:bg-red-mid px-4 py-1 rounded-xl border-4 border-black text-white shadow-solid hover:shadow-solid-half">Delete Account</button>
        </form>
      </div>
    </div>

    <!-- User's Tags -->
    <div class="flex items-center">
      <p class="mr-3">My Tags:</p>
      <% if (tags.length > 0) { %>
        <% tags.forEach(tag => { %>
          <div class="<%= colors[tag.color] %> px-4 mr-3 border-black border-2 rounded-full text-sm">
            <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
          </div>
        <% }) %>
      <% } %>
      <a href="/tags/new" class="bg-white rounded-full w-5 h-5 flex justify-center
              items-center border-2 border-black text-xl">
        <ion-icon name="add-outline"></ion-icon>
      </a>
    </div>

    <!-- User's Timers -->
    <%- include('../timers/_timerList', { timers }) %> 
    <div class="mt-5">
      <a href="/timers/new"
        class="text-lg bg-green-dark hover:bg-green-mid px-4 py-2 rounded-xl border-2 border-black text-white hover:text-black shadow-solid hover:shadow-solid-half mr-5">
        Create Timer
      </a>
    </div>
  </div>
</div>